rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSuperAdmin() {
      return request.auth != null && request.auth.token.email == 'erickrendon18@gmail.com';
    }

    match /users/{userId} {
      allow read: if request.auth != null && (request.auth.uid == userId || isSuperAdmin());
      
      // Permitimos la creación si no envían isPro, o si lo envían como false
      // Permitimos la actualización si no envían isPro, o si su valor no cambia
      allow write: if request.auth != null && (request.auth.uid == userId || isSuperAdmin());
      
      match /{collectionName}/{docId} {
        allow read, write: if request.auth != null && (request.auth.uid == userId || isSuperAdmin());
      }
    }
    
    match /{path=**}/gastos/{docId} {
      allow read: if isSuperAdmin();
    }
    match /{path=**}/ingresos/{docId} {
      allow read: if isSuperAdmin();
    }
    match /{path=**}/prestamos/{docId} {
      allow read: if isSuperAdmin();
    }
    match /{path=**}/gastos_recurrentes/{docId} {
      allow read: if isSuperAdmin();
    }
    match /{path=**}/ingresos_recurrentes/{docId} {
      allow read: if isSuperAdmin();
    }
    
    match /referrals/{referralId} {
      allow read: if request.auth != null && (resource == null || resource.data.referrerId == request.auth.uid || resource.data.referredId == request.auth.uid || isSuperAdmin());
      allow create: if request.auth != null && (request.resource.data.referredId == request.auth.uid || isSuperAdmin());
      allow update: if request.auth != null && (resource.data.referredId == request.auth.uid || resource.data.referrerId == request.auth.uid || isSuperAdmin());
    }
  }
}
